<?xml version="1.0"?>

<!-- 
Notes: 
1. Data needed to run this launch file
/camera/color/image_raw/compressed - if using Camera, converted to Mono8 format
(old camera) /camera/rgb/image_rect_color/compressed
/imu/microstrain_data - if using IMU
/mobile_base/sensors/core - !! Unused here, but used in VINS-MONO wheel !!
/mobile_base/sensors/imu_data - !! Unused here, but interally used to compute Odom !!
/odom - if using Odom, this is converted to relOdom; assumed to come only from IMU and Encoders
/wifi/ap_angle/ap_xx - if using WiFi, Angle of arrival measured at the AP xx
/wifi/bot_angle/ap_xx - if using WiFi, Angle of arrival measured at the Bot from AP xx
-->

<launch>
    <node pkg="nexmon_csi_ros" type="csi_node" name="csi_server" output="screen" clear_params="true"
          required="true">

        <!-- LOGIN DETAILS -->
        <param name="asus_pwd"          type="string"       value="robot123!" />
        <param name="asus_ip"           type="string"       value="192.168.43.*" />

        <!-- CHANNEL PARAMS -->
        <param name="channel"           type="double"       value="157" />
        <param name="bw"                type="double"       value="20" />

        <!-- PACKET PARAMS -->
        <rosparam param="mac_filter"> "11:11:11:*:*:*" </rosparam>
        <!-- beacon rate in ms; with mac address 17:17:17:
                                            "first byte of hostname":
                                            "second byte of hostname":
                                            "last byte of ip4" -->
        <param name="beacon_rate"       type="double"       value="0"   />

        <!-- SETUP PARAMS -->
        <!-- Dump the packets locally on the asus then forward them over netcat.
        This may affect packet latency, but needed for older systems which cannot receive the UDP broadcast -->
        <param name="tcp_forward"       type="bool"         value="false"    />
        <param name="lock_topic"        type="string"       value="/ap_scanner/channels_5" />
        <!-- Launch the node, but do not configure the router. useful for debug purposes. -->
        <param name="no_config"         type="bool"         value="false"    />
    </node>
</launch>
